body{
  background : url('../pic/woodbg.png');
  font-family: Arial;
  overflow-y: hidden;
}
img{
  opacity: 0.5;
  margin-left: -2.5%;
}
.center h1{
  font-family:'Dancing Script';
  margin-top: -60px;
  margin-left: 10%;
  position: relative;
  text-align: center;
  z-index: 1;
  font-size: 100px;
  opacity: 0.7;
  color: #40bf80;
}
.center span{
  margin-top: -20px;
  margin-left: 12%;
  position: absolute;
  text-align: center;
  z-index: 1;
  font-size: 20px;
  opacity: 0.7;
  color: #ffffff;
}

.subcenter{
  margin-left: -2.5%;
  margin-top: -1%;
  margin-bottom: 19%;
  position: relative;
  text-align: center;
  z-index: 1;
  font-weight: lighter;
}

.head-box {
  display: inline-block;
  font-family: Arial;
  height: 50px;
  margin: 10px -40px 0px -30px;
  color: rgba(0, 0, 0, 0.5);
  line-height: 1cm;
  font-weight: normal;
  font-size: 50px;
  letter-spacing: 2px;
}

.center-top { /*Text - User nad Food*/
  font-size: 14px;
  color: #ffffff;
  display: inline-block;
  width: 450px;
  height: 320px;
  background-color:rgba(0, 0, 0, 0.4);
}

input[type=text],input[type=password] { /* forms Add Food */
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #ffffff;
  color: #ffffff;
  margin-top: 40px;
  margin-left: 10px;
  margin-bottom: 0px;
  padding-left: 10px;
  width: 200px;
  height: 40px;
  outline: 0;
  letter-spacing: 1px;
}

select[type=text],select[type=password] { /* forms Add Food */
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #ffffff;
  color: #ffffff;
  margin-top: 40px;
  margin-left: 10px;
  margin-bottom: 0px;
  padding-left: 10px;
  width: 200px;
  height: 40px;
  outline: 0;
  letter-spacing: 1px;
}

.type {
  border: none;
  letter-spacing: 1px;
  color: #000000;

}

input[type=text]:focus,input[type=password]:focus  { /* forms Add Food */
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #ffffff;
  color: #000000;
  font-weight: bold;
  margin-top: 40px;
  margin-left: 10px;
  margin-bottom: 0px;
  padding-left: 10px;
  width: 220px;
  height: 40px;
  letter-spacing: 1px;
}

button[type=addfoods] { /*buttom for Add food*/
      margin-top: 20px;
      text-align: center;
      background-color: #40bf80;
      border: none;
      border-radius: 4px;
      color: white;
      text-decoration: none;
      cursor: pointer;
      font-family: Arial;
      width: 200px;
      height: 35px;
      font-size: 16px;
      letter-spacing: 1px;
      opacity: 0.7;
    }
button[type=addfoods]:hover { /*when click buttom Add food*/
        font-size: 17px;
        letter-spacing: 2px;
        background-color: rgba(0, 0, 0, 0);
        color : #ffffff;
        border: 2px solid #ffffff;
    }
