
body {
  font-family: Arial;
  left: 0;
  line-height: 1.35;
  margin: 0;
  overflow-x :hidden;
  position: relative;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  transition: left 0.3s ease-in-out;
  -webkit-transition: left 0.3s ease-in-out;
  -ms-transition: left 0.3s ease-in-out;
  -moz-transition: left 0.3s ease-in-out;
  -o-transition: left 0.3s ease-in-out;
    z-index: -1;
}
body.panel-open {
  left: -250px;
}

.container{
  min-height: 100%;
}

a {
  outline: 0;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

header { /* 3 line and MENU */
  color: #808080;
  padding: 3em 5%;
  position: relative;
  width: 90%;
  z-index: 2;
}

.menu-toggle {
  cursor: pointer;
  position: absolute;
  margin-left: 90%;
  font-size: 14px;
  font-size: 0.875rem;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.menu-toggle.open {
  opacity: 0.5;
  -webkit-opacity: 0.5;
  -ms-opacity: 0.5;
  -moz-opacity: 0.5;
  -o-opacity: 0.5;
}

.menu-toggle-grippy {
  border-bottom: 5px solid #808080;
  border-top: 5px solid #808080;
  float: left;
  line-height: 0;
  margin-right: 1em;
  padding: 5px 0;
  text-indent: -999em;
  width: 35px;
}
.menu-toggle-grippy:after {
  background: #808080;
  content: '';
  display: block;
  height: 5px;
}

.menu-toggle-label {
  float: left;
  font-weight: 700;
  height: 25px;
  line-height: 25px;
  text-transform: uppercase;
}

.hidden-panel {
  background: #333;
  color: #666;
  font-size: 14px;
  font-size: .875rem;
  height: 100%;
  position: absolute;
  right: -250px;
  top: 0;
  width: 250px;

}
.hidden-panel a {
  color: #999;
  transition: color 0.3s ease-out;
  -webkit-transition: color 0.3s ease-out;
  -ms-transition: color 0.3s ease-out;
  -moz-transition: color 0.3s ease-out;
  -o-transition: color 0.3s ease-out;
}
.hidden-panel a:hover {
  color: #fff;
}


.hidden-panel-close { /*>> x */
  color: #666;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 3.7em;
  transition: color 0.3s ease-in-out;
  -webkit-transition: color 0.3s ease-in-out;
  -ms-transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
}
.hidden-panel-close:hover {
  color: #fff;
}

/*tu food*/
.hidden-panel-content {
  padding: 3.65em 10%;
}

.hidden-panel-nav { /*submenu - home, menu, about, contact */
  text-align: center;

}
.hidden-panel-nav h3 {
  letter-spacing: 1px;
  margin-bottom: 1em;
  font-weight: 500;
}
.hidden-panel-nav ul {

}
.hidden-panel-nav li {
  padding: 0.25em 0;
}

.hidden-panel-text {
  text-align: center;
}
.hidden-panel-text span a {
  margin-bottom: 0.5em;
}

.hidden-panel-text span a:hover {
  border: 0.5px solid #ffffff;
  padding: 3px 5px 3px 5px;
}

.hidden-panel-text span a:last-child {
  margin-bottom: 0;
}

.hidden-panel-credits {
  text-align: center;
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1.5;
}
.hidden-panel-credits span {
  display: block;
  margin-bottom: 0.15em;
}

.container:before, header:before, .menu-toggle:before, .container:after, header:after, .menu-toggle:after {
  content: '';
  display: table;
}

.container:after, header:after, .menu-toggle:after {
  clear: both;
}

.container, header, .menu-toggle {
  *zoom: 1;
}

.hidden-panel-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hidden-panel-nav, .hidden-panel-text {
  border-bottom: 1px solid #666;
  border-bottom: 1px solid rgba(102, 102, 102, 0.25);
  margin-bottom: 1.5em;
  padding-bottom: 1.5em;
}

input[type=text-search] { /* forms search */
  background: url('../../pic/searchhh.png');
  background-size: 22px 22px;
  background-position: 145px 7px;
  background-repeat: no-repeat;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  color: #ffffff;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 0px;
  padding-left: 10px;
  width: 180px;
  height: 40px;
  opacity:0.5;
  outline: 0;
}
